In [2]:
import pandas as pd
df = pd.read_excel(r"C:\Users\Saurav Sarkar\numpy\weather_sm.xlxs")
df

         day  temp  event  windspeed
0 2020-01-01    22   rain          6
1 2020-02-01    32  sunny          4
2 2020-03-01    33   snow          5
3 2020-04-01    35   rain          9
4 2020-05-01    34   snow          8
5 2020-06-01    26  sunny          3

In [20]:
rows,coloumns =   df.shape

In [22]:
coloumns

4

In [23]:
df.head()

         day  temp  event  windspeed
0 2020-01-01    22   rain          6
1 2020-02-01    32  sunny          4
2 2020-03-01    33   snow          5
3 2020-04-01    35   rain          9
4 2020-05-01    34   snow          8

In [24]:
df.tail()

         day  temp  event  windspeed
1 2020-02-01    32  sunny          4
2 2020-03-01    33   snow          5
3 2020-04-01    35   rain          9
4 2020-05-01    34   snow          8
5 2020-06-01    26  sunny          3

In [25]:
df[1:4]

         day  temp  event  windspeed
1 2020-02-01    32  sunny          4
2 2020-03-01    33   snow          5
3 2020-04-01    35   rain          9

In [27]:
df.columns

Index(['day', 'temp', 'event', 'windspeed'], dtype='object')

In [28]:
df.temp

0    22
1    32
2    33
3    35
4    34
5    26
Name: temp, dtype: int64

In [29]:
type(df['day'])

pandas.core.series.Series

In [31]:
df[['event','day']]

   event        day
0   rain 2020-01-01
1  sunny 2020-02-01
2   snow 2020-03-01
3   rain 2020-04-01
4   snow 2020-05-01
5  sunny 2020-06-01

In [32]:
df['temp'].max()

35

In [33]:
df.describe()

            temp  windspeed
count   6.000000   6.000000
mean   30.333333   5.833333
std     5.163978   2.316607
min    22.000000   3.000000
25%    27.500000   4.250000
50%    32.500000   5.500000
75%    33.750000   7.500000
max    35.000000   9.000000

In [4]:
df

         day  temp  event  windspeed
0 2020-01-01    22   rain          6
1 2020-02-01    32  sunny          4
2 2020-03-01    33   snow          5
3 2020-04-01    35   rain          9
4 2020-05-01    34   snow          8
5 2020-06-01    26  sunny          3