In [1]:
import pandas as pd

y = pd.Period(2020)
y

Period('2020', 'A-DEC')

In [2]:
y.start_time

Timestamp('2020-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [5]:
m = pd.Period(2019,freq = 'M')
m

Period('2019-01', 'M')

In [6]:
m.start_time

Timestamp('2019-01-01 00:00:00')

In [7]:
m.end_time

Timestamp('2019-01-31 23:59:59.999999999')

In [12]:
d = pd.Period('2017-02-28',freq = 'D')
d

Period('2017-02-28', 'D')

In [13]:
d+1

Period('2017-03-01', 'D')

In [22]:
#quater 
q = pd.Period('2017q1' , freq = 'Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [23]:
q2 = pd.Period('2018q2', freq = 'Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [24]:
q2-q

In [3]:
#index
n = pd.period_range('2011','2017',freq='Q-JAN')
n

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [31]:
n[0].start_time

Timestamp('2010-11-01 00:00:00')

In [32]:
n[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [4]:
import numpy as np
p = pd.Series(np.random.randn(len(n)),n)
p

2011Q4   -1.096801
2012Q1   -0.478896
2012Q2    1.486958
2012Q3    0.577673
2012Q4    2.190047
2013Q1    0.799112
2013Q2   -1.025208
2013Q3    2.442745
2013Q4    0.988106
2014Q1   -0.101119
2014Q2    1.612651
2014Q3   -2.662530
2014Q4    0.180659
2015Q1   -0.536676
2015Q2   -0.043581
2015Q3   -0.663877
2015Q4    0.608853
2016Q1   -2.228212
2016Q2   -1.174133
2016Q3    1.128788
2016Q4    2.046676
2017Q1    0.204307
2017Q2    1.449927
2017Q3   -0.891880
2017Q4   -0.144534
Freq: Q-JAN, dtype: float64

In [36]:
p.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [38]:
p['2011':'2013']

2011Q4   -1.404220
2012Q1   -0.060193
2012Q2    2.543291
2012Q3    0.168059
2012Q4   -2.212880
2013Q1    1.056285
2013Q2    0.372798
2013Q3   -0.741506
2013Q4    2.603004
2014Q1   -2.305971
2014Q2    1.448259
2014Q3    0.554034
2014Q4    0.265184
Freq: Q-JAN, dtype: float64

In [39]:
p.to_timestamp()

2010-11-01   -1.404220
2011-02-01   -0.060193
2011-05-01    2.543291
2011-08-01    0.168059
2011-11-01   -2.212880
2012-02-01    1.056285
2012-05-01    0.372798
2012-08-01   -0.741506
2012-11-01    2.603004
2013-02-01   -2.305971
2013-05-01    1.448259
2013-08-01    0.554034
2013-11-01    0.265184
2014-02-01   -1.138950
2014-05-01   -0.101111
2014-08-01   -2.010609
2014-11-01   -0.973655
2015-02-01   -0.334654
2015-05-01    0.819963
2015-08-01    0.583182
2015-11-01   -0.942511
2016-02-01   -0.755273
2016-05-01   -0.562141
2016-08-01   -1.303961
2016-11-01    1.867921
Freq: QS-NOV, dtype: float64

In [5]:
p.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [6]:
ps = p.to_timestamp()
ps

2010-11-01   -1.096801
2011-02-01   -0.478896
2011-05-01    1.486958
2011-08-01    0.577673
2011-11-01    2.190047
2012-02-01    0.799112
2012-05-01   -1.025208
2012-08-01    2.442745
2012-11-01    0.988106
2013-02-01   -0.101119
2013-05-01    1.612651
2013-08-01   -2.662530
2013-11-01    0.180659
2014-02-01   -0.536676
2014-05-01   -0.043581
2014-08-01   -0.663877
2014-11-01    0.608853
2015-02-01   -2.228212
2015-05-01   -1.174133
2015-08-01    1.128788
2015-11-01    2.046676
2016-02-01    0.204307
2016-05-01    1.449927
2016-08-01   -0.891880
2016-11-01   -0.144534
Freq: QS-NOV, dtype: float64

In [12]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

   Line Item    2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0          0   Revenue  115904  120854  118179  130936
1          1  Expenses   86544   89485   87484   97743
2          2    Profit   29360   31369   30695   33193

In [14]:
df.set_index('Line Item', inplace = True)
df

             2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
0           Revenue  115904  120854  118179  130936
1          Expenses   86544   89485   87484   97743
2            Profit   29360   31369   30695   33193

In [15]:
df.T

Line Item        0         1       2
2017Q1     Revenue  Expenses  Profit
2017Q2      115904     86544   29360
2017Q3      120854     89485   31369
2017Q4      118179     87484   30695
2018Q1      130936     97743   33193

In [25]:
#df.astype('str')

In [26]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

DateParseError: day is out of range for month